body{
    background-color: #ffabab;
    overflow: hidden;
}

nav{
    background-color: #ff8d8d;
    height: 190px; 
    padding: 30px 0; 
}

.logoHibis {
    width: 300px;   
    height: auto;
    position: absolute;
    left: 20px;   
    top: 15%;
    transform: translateY(-50%);
}

.containeirImagens{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 70px;
    font-size: 40px;
}

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 50px;
}


.img1{
    background-image: url("img/moça1.jpg"); 
    width: 600px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pIMG1{
    margin-top: 10px;
    color: white;
}


.img2{
    background-image: url("img/moça2.png");
    width: 600px;
    height: 400px;
    text-align: center;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: end;
}

.pIMG2{
    margin-bottom: 30px;
    color: white;

}


