body{
    background-color: #ffdede;
    overflow: hidden;
}
nav{
    background-color: #ff8d8d;
}
.containeirImagens{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 50px;
    font-size: 40px;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
}
.img1{
    background-color: rgb(183, 183, 255);
    width: 700px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img2{
    background-color: rgb(183, 183, 255);
    width: 700px;
    height: 500px;
    text-align: center;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: end;
}
.pIMG1{
    margin-top: 20px;
}
.pIMG2{
    margin-bottom: 20px;
}