@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    background-image: url(../../img/fundoCadastro.png);
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden; 
}

.conteiner{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 430px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.colunas{
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-left: 40px; 
}

.coluna1 {
    margin-left: 0; 
    margin-top: -5px;
}

.colunas p {
    font-size: 20px; 
    margin: 3px 0;    
    margin-top: 14px;
}

h1{
    background-color: #ff8d8d;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* INPUTS */
input{
    width: 295px;
    height: 25px;
    border-radius: 10px;
    padding: 5px;
    border: 2.3px solid #e0898a;
    margin-top: 5px;
}

input:focus {
  border-color: #4caf50;
}

/* BOTÃO ENTRAR */
.botao-entrar {
    background-color: #ff8d8d;
    border: none;
    width: 295px;
    height: 50px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20.5px;
    margin: 30px auto 0;
    display: block;
}

.botao-entrar:hover {
    background-color: #000000;
}

.botao-entrar:active {
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}


.botao-texto {
    background-color: transparent ;
    border: none ;
    color: #ff8d8d ;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    display: inline-block;
}
