
body {
    margin: 0;
    padding: 0;
    background-color: #fcd6d6;
    font-family: "Poppins", sans-serif;
}

/*  CONTAINER DA PÁGINA  */
.container {
    margin-left: 120px; /* espaço para a sidebar */
    padding: 30px;
}

/*  SIDEBAR  */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    background-color:#ff8d8d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.sidebar img {
    width: 40px;
    margin-bottom: 20px;
}

.sidebar span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 22px;
    color: white;
    margin-top: 40px;
    font-weight: 600;
}

/*  GRID DOS PRODUTOS  */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 35px;
}

/*  CARD DO PRODUTO  */
.card {
    background-color: white;
    border-radius: 16px;
    padding-bottom: 20px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

/*  IMAGEM  */
.card img {
    width: 100%;
    height: 225px;
    border-bottom: 1px solid #f5c2c2;
}

/*  TÍTULO / PREÇO  */
.card .title {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px 0;
}

.card .price {
    font-size: 17px;
    font-weight: 700;
    padding: 5px 20px;
}

/*  BOTÃO  */
.card button {
    background-color: #ff8d8d;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

.card button:hover {
    background-color: #ff6f6f;
}

/*  RESPONSIVIDADE  */
/* @media (max-width: 700px) {
    .sidebar {
        width: 70px;
    }

    .container {
        margin-left: 70px;
        padding: 20px;
    }

    .sidebar span {
        font-size: 16px;
    }
} */
